
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0;
    padding: 0;
}
:root {
    --color:#2196F3;
    --white: #FFF;
    --family: Roboto;
    --grey: #757575;
    
}

/* HEADER-ШАПКА !!! */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav {
    display: flex;
    align-items: center;
}
.name-1 {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 94px;
}

.list {
    display: flex;
}
.item + .item {
    margin-left: 50px;
}

.choice {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;
}

.contact {
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: var(--family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #757575;
}
.info {
    display: flex;
    margin-left: auto;
}
.contact + .contact {
    margin-left: 50px;
}
.link_mail {
    fill: var(--grey);
    width: 16px; 
    height: 12px;
    margin-right: 10px;
}
.link_nomer {
   fill: var(--grey);
   width: 10px; 
   height: 16px;
   margin-right: 10px;
}

.link_mail:hover,
.link_nomer:hover {
    fill: var(--color);
}
.choice:hover ,
.contact:hover {
    color: var(--color);
}
.list,
.list-1 ,
.list-2 {
    list-style: none;
}
/* ИМЯ САЙТА  */
.website_name {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--color);

    text-decoration: none;
}
.studio {
    color: #000;
}
.studioo {
    color: var(--white);
}




/* КНОПКИ */

.button_fon {
    padding-top: 94px;
    padding-bottom: 94px;
}
.but:hover {
    background-color: var(--color);
    color: var(--white);
}

.list-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.knopki + .knopki {
    margin-left: 8px;
}
.but {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: var(--family);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.625;
    cursor: pointer;
    background: #F5F4FA;
}

/* 9 ФОТО ,НАЗВАНИЕ */

.item_photo {
    width:calc((100% - 60px) / 3);
   
}

.item_photo:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.list-2 {
    list-style: none;
    display: flex;
    flex-wrap:  wrap;
    gap: 30px;
    
}


.item_photo {
    background: var(--white);
border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px 
rgba(0, 0, 0, 0.16);
}
.h3_p {
    padding: 20px 24px;
}
.hthree {
    font-family: var(--family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}
.text {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--grey);
}

/* FOOTER- НИЗ */

.floor {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.streat {
    margin-bottom: 9px;
    font-family: var(--family);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color:  var(--white);
}
.contact-1 {
    display: block;
    font-family: var(--family);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}
.contact-1:hover {
    color: var(--color);
}

.web {
    display: block;
    margin-bottom: 20px;
}
.contact-1 + .contact-1 {
    margin-top: 9px;
}
